*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-template-areas: 
    "b1 b2 b3 b4" 
    "b1 b2 b5 b8"
    "b7 b6 b6 b10"
    "b9 b6 b6 b10"
    "b11 b12 b13 b14"
    "b15 b16 b17 b18"
    "b19 b20 b21 b22" 
    "b19 b20 b23 b24";
}

.box{
    border:  1px solid black;
    background: url('./assets/IMG_5069.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

.a{
    grid-area: b1;
}
.b{
    grid-area: b2;
}
.c{
    grid-area: b3;
}
.d{
    grid-area: b4;
}
.e{
    grid-area: b5;
}
.f{
    grid-area: b6;
}
.g{
    grid-area: b7;
}
.h{
    grid-area: b8;
}
.i{
    grid-area: b9;
}
.j{
    grid-area: b10;
}
.k{
    grid-area: b11;
}
.l{
    grid-area: b12;
}
.m{
    grid-area: b13;
}
.n{
    grid-area: b14;
}
.o{
    grid-area: b15;
}
.p{
    grid-area: b16;
}
.q{
    grid-area: b17;
}
.r{
    grid-area: b18;
}
.s{
    grid-area: b19;
}
.t{
    grid-area: b20;
}
.u{
    grid-area: b21;
}
.v{
    grid-area: b22;
}
.w{
    grid-area: b23;
}
.x{
    grid-area: b24;
} 